.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(147, 226, 159);
}
.header img {
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    font-size: 24px;
    margin: 1;
    display: flex;
    align-items: center;
}

nav {
    background-color: rgb(147, 226, 159);
    padding: 10px ;
    text-align: center;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 16px;
    padding-bottom: 5px;
  }

  nav a:hover {
    color: red;
    border-bottom: red;
  }


.img{
    height: 500px; 
    width: 50%;
}


section { 
    background-color: azure;
     margin: 30px auto; 
     padding: 30px; 
     width: 90%;
      border-radius: 15px;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
       border-left: #065f7d;
    }
    
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #333333;
        box-sizing: border-box; 
    }

    ::placeholder {
        color: #333333;
    }
    
    .wrapper {
        width: 50; 
        max-width: 400px; 
        height: auto; 
        border: 3px solid #171717;
        padding: 15px;
        background: #ffffff;
        overflow: hidden; 
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    
    .title {
        margin-bottom: 32px;
        text-align: center;
    }
    
    
    .inp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 15px;
        margin-bottom: 20px;
        width: 100%;
        border: 1px;
        padding: 8px;
        border-radius: 5px;
        gap: 10px;
    }
    
    
    .inp i {
        font-size: 1.5em; 
        margin-bottom: 5px;
        color: #333333;
       
    }
    
    
    input { 
        width: 100%; 
        padding: 8px; 
        margin: 5px 0;
        border: 1px solid #ccc; 
        border-radius: 4px;
    }
.submit {
    border: none;
    outline: none;
    width: 50%; 
    padding: 15px 0;
    font-size: 1.2em;
    border-radius: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #73f77e, #f1f5f8);
}
        
.submit:hover{
    background: rgb(0, 255, 17);
}    
footer{
background-color: rgb(147, 226, 159);
       initial-letter: white;
       text-align: center;
       padding: 20px;
       position: absolute;
       width: 100%;
       bottom: 1;
} 







